.form 
  font-family: arial

.form__item
  margin: 0 10px
  @media screen and (max-width: 650px)
    max-width: 340px
    margin: 0 auto

  &:nth-of-type(1)
    @media screen and (max-width: 650px)
      max-width: 100%

