.selectWrapper
  position: relative

  &::after
    display: block
    content: ''
    position: absolute
    pointer-events: none
    width: 7px
    height: 7px
    right: 30px
    bottom: 14px
    border-left: 2px solid #037BB8
    border-bottom: 2px solid #037BB8
    transform: rotate(-45deg)
    @media screen and (max-width: 650px)
      right: 15px


.inputBlock
  display: flex
  position: relative
  align-items: baseline
  margin: 31px 0 23px 0
  padding: 0 0 8px 0
  @media screen and (max-width: 650px)
    display: block

  &__text
    min-width: 223px
    font-size: 21px
    line-height: 19px
    color: #000000
    @media screen and (max-width: 650px)
      font-size: 18px
      min-width: 0
      display: inline-block

    @media screen and (max-width: 540px)
      font-size: 16px

  &__input
    padding: 5px 12px
    width: 336px
    margin-right: 18px
    box-sizing: border-box
    border: 1px solid #999999
    font-size: 16px
    line-height: 19px

  &__dropdown
    -webkit-appearance: none

  &__checkbox
    -webkit-appearance: none
    position: relative
    margin: 0 12px 0 0
    width: 12px
    height: 12px
    border: 1px solid #7e7e7e
    @media screen and (max-width: 650px)
      display: inline-block
      margin-left: 10px

    &:checked
      background-image: url(./pic.svg)
      background-repeat: no-repeat
      background-position: 1px 2px

  &__description
    width: 339px
    font-size: 12px
    line-height: 20px
    margin: 0
    color: #999999

  &__descriptionMail
    color: #000000
    margin: 0
    font-size: 16px
    line-height: 19px
  
  &__btn
    font-size: 18px
    line-height: 20px
    padding: 10px 20px
    margin-right: 10px
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25)
    background: #71C838
    box-shadow: 0px 1px 0px #539D22
    color: #ffffff
    border: none

.mistakeMessage
  position: absolute
  left: 225px
  margin-top: 37px
  color: #ff0000
  font-size: 12px
  line-height: 20px
  @media screen and (max-width: 650px)
    margin-top: 0
    top: 0
    left: 120px
    text-align: right
    width: 200px

.mistakeInput
  border-color: #ff0000

.pb25
  margin-bottom: 25px
