body
  padding: 0
  margin: 0
  overflow-x: hidden

hr 
  border: none
  background-color: #E5E4E4
  height: 1px

input:focus, button:focus, select:focus
  outline: none

input[type='checkbox']:hover, button:hover, select:hover
  cursor: pointer

.wrapper
  max-width: 990px
  min-width: 365px
  margin: 90px auto 0


