.header
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  max-width: 727px
  position: relative
  @media screen and (max-width: 650px)
    margin: 0 10px

  &__title
    color: black
    line-height: 34px
    font-size: 30px
    margin: 0
    @media screen and (max-width: 650px)
      font-size: 24px
    @media screen and (max-width: 540px)
      font-size: 20px
    
  
  &__status
    position: relative
    bottom: -16px
    right: 9px
    font-size: 12px
    color: #0C77BB
    text-decoration-style: dashed
    @media screen and (max-width: 490px)
      position: absolute

    &:hover 
      cursor: pointer
  
  &__tooltip
    position: relative
    margin-top: 10px
    margin-left: 225px
    padding: 13px 12px
    width: 476px
    background-color: #eaeaea
    font-size: 14px
    line-height: 22px
    @media screen and (max-width: 650px)
      margin-left: 180px
      margin-top: 5px
    @media screen and (max-width: 540px)
      margin-left: 0

    &::before
      display: block
      content: ''
      position: absolute
      width: 10px
      height: 10px
      background-color: #eaeaea
      transform: rotate(45deg)
      top: -4px
      left: 12px
      z-index: -1
      @media screen and (max-width: 540px)
        left: 200px

  &__statusChange
    position: absolute
    right: 0
    top: 44px
    z-index: 1

.statusChange
  display: flex
  justify-content: flex-end
  flex-wrap: wrap
  width: 500px
  margin-right: 2px
  @media screen and (max-width: 540px)
    width: 100%

  &__input
    width: 500px
    padding: 13px 12px
    background-color: #eaeaea
    font-size: 14px
    line-height: 22px
    word-wrap: break-word
    border-style: none
    border-bottom: 1px solid #000
    @media screen and (max-width: 650px)
      // margin-left: 180px
      margin-top: -5px
      margin-left: 53px
    @media screen and (max-width: 540px)
      margin-left: 0
      width: 100%

  &__btn
    display: block
    margin-top: 5px
    border-width: 0
    padding: 3px 4px
    @media screen and (max-width: 490px)
      position: absolute
      top: 45px
      left: 0


.gray 
  color: #666666